@import "../../../sass/theme.scss";

.contact-us {
  text-align: center;
  background: url("/images/contact-us-bg.jpg");
  color: $accent;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 60px;
  &__heading {
    padding-top: 60px;
    font-weight: 500;
  }
  &__subheading {
    font-weight: 400;
    margin: 10px 0px 30px;
    font-size: medium;
  }
}
