@import "../../../../sass/theme.scss";

@mixin shared-position {
  content: "";
  position: absolute;
  border-bottom: 25px solid transparent;
}

.feedback-card {
  background: $accent;
  padding: 30px;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  position: relative;
  margin-bottom: 25px;
  &__quote {
    color: $primary;
    margin-right: 10px;
  }
  &__content {
    font-size: large;
    color: $typo-content-grey;
  }
  &::before {
    @include shared-position;
    border-right: 39px solid rgba(0, 0, 0, 0.1);
    left: 38px;
    bottom: -22px;
    z-index: -1;
  }
  &::after {
    @include shared-position;
    border-right: 40px solid $accent;
    left: 35px;
    bottom: -18px;
  }
}
