@import "../../../sass/theme.scss";

.nav {
  padding: 15px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  &__menu-container {
    display: flex;
    align-items: center;
  }

  &__menu-list {
    display: inherit;
    list-style: none;
    margin: 0;
    li {
      margin-right: 40px;
    }
  }
  &__mob-menu__toggle {
    display: none;
  }
  &__mob__get-in-touch {
    display: none;
    align-content: flex-end;
  }
}

@media (max-width: 768px) {
  .nav {
    &__menu-container {
      display: none;
    }
    &__mob-menu__toggle,
    &__mob__get-in-touch {
      display: block;
      color: $accent;
    }
  }
}
