@import "../../../../sass/theme.scss";

.tiny-card {
  padding: 30px;
  color: $accent;
  border: 1px solid $thin-black;
  border-radius: 6px;
  &__icon {
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .tiny-card {
    display: flex;
    padding: 15px;
    width: 80vw;
    align-items: center;
    &__icon {
      margin: 0 10px;
      height: 40px;
    }
  }
}
